.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--primary);
  color: var(--text);
  padding: 0 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  border: 0;
  
  transition: filter 0.2s;
  
  img {
    margin-right: 0.5rem;
  }
  
  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }

  &.outlined:not(:disabled) {
    background: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  &:disabled {
    background: #bebebe;
    color: #868686;
    cursor: default;
  }
}

@media(max-width: 500px){
  .button {
    height: 30px;
    padding: 0 1rem;
  }
}