.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--primary);
  color: var(--text);
  padding: 0 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  border: 0;
  
  transition: filter 0.2s;
  
  img {
    margin-right: 0.5rem;
  }
  
  &:hover {
    filter: brightness(0.9);
  }

  &.outlined {
    background: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
  }
}