#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: var(--primary);
    color: var(--text);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    &::after {
      background: linear-gradient(var(--primary), var(--secondary));
    }

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 2.6rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: #f8f8f8;
    }
  }

  main{
    flex: 8;

    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 20rem;
      align-items: stretch;
      text-align: center;

      > img {
        align-items: center;
        height: 5rem;
      }

      h2 {
        font-size: 1.5rem;
        margin: 4rem 0 1.5rem;
        font-family: 'Poppins', sans-serif;
      }

      form {
        input {
          height: 50px;
          border-radius: 8px;
          padding: 0 1rem;
          background: #fff;
          border: 1px solid var(--gray-line);
          outline: none;
        }

        textarea {
          width: 100%;
          height: 150px; 
          margin-top: .5rem;
          border-radius: 8px;
          padding: .5rem 1rem;
          background: #fff;
          border: 1px solid var(--gray-line);
          outline: none;
            
        }

        button {
          margin-top: 1rem;

          .login-icon {
            margin-right: .5rem;
          }
        }

        input, button {
          width: 100%;
        }

        button:last-child {
          margin-top: 2rem;
          background: linear-gradient(var(--primary), var(--secondary));
        }
      }

      p {
        font-size: 0.8rem;
        color: var(--gray);
        margin-top: 1rem;

        a {
          color: var(--secondary);
        }
      }
    }
  }

  .create-room {
    margin-top: 4rem;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #fff;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 2px solid #e6e6e6;

    transition: filter 0.2s;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    &:not(:disabled):hover {
      filter: brightness(0.95);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .separator {
    font-size: 0.8rem;
    color: var(--gray-line);

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content:'';
      flex: 1;
      height: 1px;
      background:var(--gray-line);
      margin-right: 1rem;
    }

    &::after {
      content:'';
      flex: 1;
      height: 1px;
      background:var(--gray-line);
      margin-left: 1rem;
    }
  }
}

@media(max-width:720px){
  #page-auth {
    aside {
      display: none;
    }
  }
}