#page-room {
  header {
    padding: 1.5rem;
    border: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #logo-room {
        max-height: 45px;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        button {
          height: 40px;
        }

        .admin-button {
          color: var(--primary);
          background: transparent;
          cursor: pointer;
          border:0;

          .icon {
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    &.rooms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        margin-top: 1rem;
      }

      .room-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
  
        margin-left: 1rem;
        margin-top: 1rem;

        button {
          background: linear-gradient(var(--primary), var(--secondary));
        }
      }
    }

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div:first-child {
        display: flex;
        align-items: center;
        gap: .5rem;

        h1 {
          font-family: 'Poppins', sans-serif;
          font-size: 1.5rem;
          color: var(--text-default);
        }

        span {
          margin-left: 1rem;
          background: linear-gradient(var(--primary), var(--secondary));
          border-radius: 3rem;
          padding: .5rem 1rem;
          color: var(--text);
          font-weight: 500;
          font-size: .9rem;
        }
        
        .share-icon {
          color: var(--primary);
          width: 1.7rem;
          height: 1.7rem;
          cursor: pointer;

          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.9)
          }
        }
      }

      .div-ended {
        background: var(--primary);
        color: var(--text);
        padding: .5rem 1rem;
        border-radius: 2rem;
        font-weight: 500;
        gap: .5rem;
        
        span:first-child {
          margin-right: .5rem;
        }
      }
    }

    .description {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1rem;
      margin-bottom: 1rem;
      max-width: 800px;
    }

    form {
      textarea {
        width: 100%;
        border: 1px solid white;
        outline: none;
        padding: 1rem;
        border-radius: .5rem;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0,0,0, 0.04);
        resize: vertical;
        min-height: 130px;

        &:focus {
          border-color: var(--primary);
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: .5rem;
            color: var(--text-default);
            font-weight: 500;
            font-size: .875rem;
          }
        }

        > span {
          font-size: .875rem;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--primary);
            text-decoration: underline;
            font-size: .875rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}

@media(max-width:330px) {
  #page-room {
    main {
      margin: 0 1rem;
      .room-title {
        > div:first-child {
          gap:.1rem;
        }
      }
    }
  }
}