#empty-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;

  h2 {
    font-family: 'Poppins', sans-serif;

  }

  span {
    color: var(--gray);
    font-size: 1rem;
  }
}