.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  .big-icon {
    width: 3rem;
    height: 3rem;
    color: var(--danger);
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  span {
    color: var(--gray)
  }

  div {
    display: flex;
    gap: .5rem;

    #cancel-button {
      background: #dbdcdd;
      color: var(--gray);
    }

    #agree-button {
      background: var(--danger);
    }
  }

  &.answer {
    align-items: flex-start;
    gap: 1rem;
    width: 25rem;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      textarea {
        width: 100%;
        height: 150px;
        margin: 1rem 0;
        padding: .5rem .5rem;
        border-radius: 3px;
        outline: none;
      }

      > div {
        width: 100%;
        justify-content: space-between;
      }
    } 
  }
}