.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid var(--primary);
  cursor: pointer;

  display: flex;

  #img-container {
    background: var(--primary);
    padding: 0 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text);
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 0.75rem;
    width: 18rem;
    font-family: 0.875rem;
    font-weight: 500;
  }
}